<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kriptok" version="0.23.2" targetFramework="net462" />
  <package id="Kriptok.Div" version="0.23.2" targetFramework="net462" />
  <package id="Kriptok.Sdk" version="0.23.2" targetFramework="net462" />
  <package id="Kriptok.Sdk.TileMapEditor" version="0.23.2" targetFramework="net462" />
</packages>